a {
  color:black;
  text-decoration: none;
}
h1 {
  margin: 100px;
  font-size: 20px;
  text-align: center;
}
p {
  margin: 40px;
  text-align: center;
}
strong {
  font-size: 15px;
  text-align: center;
}
blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
  animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
